body{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
header{
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    background-color:#B80000;
    padding:1rem 2rem 1rem 2rem;
    box-shadow: 0px 0px 10px 0px #B80000;
    z-index: 1;  
}
.nav-image{
    width: 320px;
    height:60px;
    flex:2;
    transition: all 0.3s ease-in-out;
}
.nav-image:hover{
    transform: scaleY(1.1);
    cursor: pointer;
}
.nav-image1{
    display: none;
}
.nav-lists{
    display: flex;
    list-style: none;
    flex:2;
    justify-content: space-around;
}
.nav-lists>li a:hover, nav-lists>li a:active, nav-lists>li a:focus{
transition-duration: 1s;
 letter-spacing: 6px ;
}
a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 1.2rem;   
}
.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4rem;
    margin-left: 4vw;
    margin-bottom: 10vw;
    width:95%;
    align-items: center;
    color:#B80000;
    
}
.matter,.second,.third,.fourth,.lastline,.gallery{
    opacity: 0;
    transform: translateY(-60px);
    transition: 1s all ease-in-out;
    z-index: 0;
}
.matter-appear{
    opacity:1;
    transform: translateY(0px);
}

.card img{
    object-fit: contain;
    width: 80%;
    margin:auto;
    
}
.card h1{
    font-size: 4vw;
}
.card h2{
    font-size: 2vw;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 4vw;
    width: 90%;
    margin: auto;
}

.gallery img{
    width:100%;
    border: 5px solid #B80000;

}
.lastline{
    width: 60%;
    font-size: 3vw;
    margin: auto;
    margin-bottom: 3rem;
    color: #B80000;
}
span{
    text-decoration: underline;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #B80000;
    margin-top: 5vw;
    color: white;
    font-weight: 700;
}
.burger{
    position: absolute;
    right:1rem;
    cursor: pointer; 
    display: none;   
}
.burger div{
    width:25px;
    height:3px;
    margin: 5px;
    background-color:white;
}
.locationsexplain{
    width: 95%;
     margin: auto;
     color: #B80000;
}
.locationsexplain h1{
    font-size: 4rem;   
}
.locationsexplain p{
    font-size: 2rem;
}
.locations{
    top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    width: 95%;
    margin:auto;
       
}
.locations iframe{
    border-radius: 1rem;
    background-color: #B80000; 
    padding: 1rem;
    box-shadow: 0 0 10px 0 #B80000;
    transition: all 0.4s ease-in;
}
.locations iframe:hover,.locations iframe:active,.locations iframe:focus{
    border-radius: 1rem;
    background-color: #B80000; 
    padding: 0;
    box-shadow: 0 0 40px 0 #B80000;
}
.contactform{
    display: flex;
    background-color: #B80000;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px 3px #B80000;
    width: 40%;
    font-family:'Dosis';
    margin-top: 10rem;
    margin-left:30%;
    color: white;
}
#sub{
    width: 30%;
    cursor:pointer;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #B80000;
    font-weight: 700;
    margin-left: 33%;
}
#sub:hover,#sub:active{
    color: white;
    background-color: #B80000;
}
input{
    border-radius: 5px;
    width: 80%;
    border: none;
}

@media (max-width:1024px) {
    .nav-image img{
    width: 220px;
    height:50px;
    }
    .nav-lists{
        transform: translateX(100%);
        transition: all 0.5s;
    }
    .burger{
        display:block;
    }
    .navlists{
        height: 100vh;
        flex-direction: column;
        transform: translateX(0%);
        
    }
    .card{
        grid-template-columns: 1fr;
        grid-row-gap: 4rem;
        margin-left: 4vw;
        margin-bottom: 10vw;
        width:95%;
        align-items: center;
        color:#B80000;
        
    }
    .card h1{
        font-size: 8vw;
    }
    .card h2{
        font-size: 4vw;
    }
    .lastline{
        width: 90%;
        font-size: 8vw;
    }
    .gallery{
        display: block;
        width: 80%;
    }
    header{
        padding-top: 0.5rem;
        padding-bottom: 0;
        overflow-x: hidden;
    }
    
    footer{
        flex-direction: column;
        align-items: center;
        line-height: 0;
    }
    .locations{
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        width: 20%;
        align-items: center;
        justify-content: center;
    }
    .locations iframe{
      width: 200px;
      height: 150px;       
    }
    .locationsexplain h1{
        font-size: 2rem;
        
    }
    .locationsexplain p{
        font-size: 1rem;
    }
    .contactform{
        width: 90%;
        margin-top: 5rem;
        margin-left: 5%;;
    }
}

